---
export interface Props {
  schemaId: string;
  options: { name: string; label?: string }[];
}

const { schemaId, options } = Astro.props;
---

<select
  class="api-discriminator-select block w-full"
  data-schema-id={schemaId}
>
  {
    options.map((opt) => (
      <option value={opt.name}>{opt.label || opt.name}</option>
    ))
  }
</select>

<script>
  // FIXME: refactor: remove redundancy

  function toggleCustomProperties(selectElement: HTMLSelectElement) {
    const schemaId = selectElement.getAttribute("data-schema-id");
    const selectedValue = selectElement.value;
    const variantsElements = document.querySelectorAll(
      `[data-discriminator-parent="${schemaId}"]`,
    ) as NodeListOf<HTMLElement>;
    variantsElements.forEach((variantElement) => {
      const isChosenVariant =
        variantElement.getAttribute("data-discriminator-value") ===
        selectedValue;
      variantElement.style.display = isChosenVariant ? "" : "none";
    });
  }

  function handleDiscriminatorChange(event: Event) {
    const selectElement =
      event.target instanceof HTMLSelectElement ? event.target : null;
    if (selectElement?.classList?.contains("api-discriminator-select")) {
      toggleCustomProperties(selectElement);
    }
  }

  document.addEventListener("change", handleDiscriminatorChange);

  // Initialize display states on load
  document.addEventListener("DOMContentLoaded", () => {
    const selects = document.querySelectorAll(
      "select.api-discriminator-select",
    ) as NodeListOf<HTMLSelectElement>;
    selects.forEach((selectElement) => toggleCustomProperties(selectElement));
  });
</script>
