---
import { isActivePath } from "../layouts/ApiLayout.astro";

const { operation } = Astro.props;
const currentPath = Astro.url.pathname;
---

<li>
  <a
    href={operation.href}
    class={`api-method-link ${isActivePath(operation.href, currentPath) ? "active" : ""}`}
  >
    {/* must be without spaces to look good in Firefox */}
    {
      operation.method && (
        <div class="api-sidebar-item-container">
          <div class={`method-badge method-${operation.method}`}>
            {operation.method.toUpperCase()}
          </div>
        </div>
      )
    }
    <span
      class={`method-summary ${operation.deprecated ? "line-through opacity-60" : ""}`}
    >
      {operation.summary || operation.method}
    </span>
  </a>
</li>

<style>
  .api-sidebar-item-container {
    display: flex;
    justify-content: center;
    /* reserve space for the widest badge */
    min-width: 3.4rem;
  }
</style>
