---
import ApiSchemaPropertyTree from "./ApiSchemaPropertyTree.astro";
import { resolveSchemaRef, type SchemaDefinition } from "../utils/openapi";

const inputSchema: SchemaDefinition = Astro.props.schema;
const swaggerData: object = Astro.props.swaggerData;
const schema = resolveSchemaRef(inputSchema, swaggerData);
const schemaProperties = Object.entries(schema?.properties || {});
const collapsed = Astro.props.collapsed;
---

{
  schemaProperties.length ? (
    <div class="overflow-x-auto">
      <table class="w-full table-fixed border-collapse border-[var(--od-border)]">
        <thead class="border-b border-[var(--od-border-hover)] text-sm">
          <tr class="text-left font-semibold">
            <th class="w-1/3 p-3">Property</th>
            <th class="w-2/3 p-3 pl-0">Type & Description</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-[var(--od-border)]">
          {schemaProperties.map(
            ([propName, propDef]: [string, SchemaDefinition]) => (
              <ApiSchemaPropertyTree
                name={propName}
                schema={propDef}
                swaggerData={swaggerData}
                isRequired={(inputSchema?.required || []).includes(propName)}
                collapsed={collapsed}
              />
            ),
          )}
        </tbody>
      </table>
    </div>
  ) : (
    <div class="overflow-x-auto p-4 text-sm">
      <p class="text-gray-500">No schema provided.</p>
    </div>
  )
}
